vti_encoding:SR|utf8-nl
http\://www.saigonnet.vn/dulich:linkwebsites.htm
images/title.gif:_borders/top.htm
http\://www.majestic-saigon.com:linkwebsites.htm
http\://www.exotissimo.com:linkwebsites.htm
<%=mainimage%>:detaillocation.asp
<%=website%>:detaillocation.asp
http\://saigon.vnn.vn/dulich/tp_hcm.html:linkwebsites.htm
http\://www.youthtourist.com:linkwebsites.htm
/images/blank.gif:indexmenulocation.asp
mailto\:<%=email%>:detaillocation.asp
<%=pathimage1%>:formeditims.asp
<%=pathimage2%>:formeditims.asp
<%=pathsound%>:formeditims.asp
clsid\:d27cdb6e-ae6d-11cf-96b8-444553540000:home.htm title.htm
images/logotravel.gif:_borders/top.htm
http\://www.yphongkong.com:linkwebsites.htm
http\://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab:home.htm title.htm
